* {
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 25px;
    font-weight: 600;
}

/*Menu mobile*/
.menu-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #E5A6BB;
    color: white;
    z-index: 1;
}

.menu-mobile a {
    color: white;
}

.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcoes a {
    font-family: Courier;   
}

#items {
    padding-top: 20px;
    background-color: rgba(229, 166, 187, 0.952);
    padding: 10px;
    z-index: 1;
}

#items a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    text-transform: uppercase;
}


/* Present session */
.present-warning {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Banner session */
.banner {
    position: relative;
    top: 50px;
    margin-bottom: 55px;
}

.bg-banner {
    background-image: url('../assets/tratamentos/bg-tratamentos.jpeg');
    background-size: cover;
}

/* Reasons session */
.format-reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.format-reasons .row{
    margin-bottom: 10px;
}

.format-reasons h3 {
    font-size: 18px;
}


/* social medias - session reasons */
.social-medias img{
    margin-top: 25px;
    width: 40px;
}

/* Whoami */
.whoami {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(229, 166, 187, 0.356);
}

.whoami .img {
    width: 120px;
    height: 120px;
    background-image: url('../assets/perfis/perfil.jpg');
    background-size: cover;
    border-radius: 100%;
}

/* What may be trated by hipnose */
.tratamento-hipnose .card-tratamento {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 7px;
    background-color: beige;
    margin-bottom: 15px;
}

.tratamento-hipnose .card-situacao {
    font-weight: 600;
}

/* Federal council */
.conselhos-federais .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conselhos-federais img {
    width: 150px;
}

/* How work session */
.bg-tratamentos {
    color: white;
    background-image: url('../assets/tratamentos/bg-tratamentos.jpeg');
}

/*Videos session*/
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video iframe{
    margin: 5px;
}

/* Rodape */
.rodape {
    background-color: #383A41;
}

.rodape .logo {
    width: 300px;
}

.rodape .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsiveness treatment */ 
@media screen and (min-width: 768px) {
    .align-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Assert banner */
    .banner, .bg-banner {
       height: 700px;
    }

    .banner-content h1, .lead, .btn-banner {
        text-align: center;
    }

    .box {
        padding: 20px;
        width: 500px;
        border: solid 2px black;
        border-radius: 7px;
        background-color: rgba(56, 58, 65, 0.952);
    }

    /*Assert council*/ 
    .conselhos-federais .content {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*Assert treatments*/
    .como-sao-tratamentos button {
        margin-top: 50px;
    }

    /*Assert video*/
    .video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .video iframe{
        margin: 5px;
    }

    /*Assert rodape*/
     .rodape .conteudo{
         display: flex;
         justify-content: center;
         align-items: center;
     }
    
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 50px;
    }

    /*Assert reasons*/
    .motivos h3{
        font-size: 25px;
    }

    .motivos {
        font-size: 20px;
    }

    /*Assert treatments*/
    .tratamentos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-tratamento {
        width: 500px;
        height: 600px;
    }

    .card-situacao {
        font-size: 20px;
    }
    
    /*Assert how work*/

    /*Assert video*/
    .video {
        flex-wrap: nowrap;
    }
}
