* {
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 25px;
    font-weight: 600;
}

/*Menu mobile*/
.menu-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    z-index: 1;
}

.bg-menu {
    background-color: #383A41;
}

.menu-mobile .logo {
    display: none;
}

.menu-mobile a {
    color: white;
}

.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.opcoes a {
    padding: 0px !important;
    font-family: Courier;   
}

.icone-menu:hover {
    cursor: pointer;
}

.icone-fechar-menu:hover {
    cursor: pointer;
}

.bg-items {
    background-color: #383A41;
}

#items {
    padding-top: 20px;
    padding: 10px;
    z-index: 1;
}

#items a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    text-transform: uppercase;
}


/* Present session */
.present-warning {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Banner session */
.banner {
    position: relative;
    top: 0px;
    margin-bottom: 20px;
}

.banner .banner-content .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-banner {
    background-image: url('../assets/imgs/mulher.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Reasons session */
.format-reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.format-reasons .row{
    margin-bottom: 10px;
}

.format-reasons h3 {
    font-size: 18px;
}


/* social medias - session reasons */
.social-medias img{
    margin-top: 25px;
    width: 40px;
}

/* Whoami */
#quemSouEu .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(229, 166, 187, 0.356);
}

#quemSouEu .conteudo .img {
    width: 120px;
    height: 120px;
    background-image: url('../assets/perfis/img_perfil.jpg');
    background-size: cover;
    border-radius: 100%;
}

/* What may be trated by hipnose */
.btn-blue {
    background-color: #33A0BB !important;
}

/* Federal council */
.conselhos-federais .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conselhos-federais img {
    width: 150px;
}

/* How work session */
.bg-perguntas {
    color: #383A41;
    background-image: url('../assets/imgs/menino-planta-branco.png');
    background-size: cover;
}

/*Videos session*/
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video iframe{
    margin: 5px;
}

/* Rodape */
.rodape {
    background-color: #383A41;
}

.rodape .logo {
    width: 300px;
}

.rodape .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsiveness treatment */ 
@media screen and (min-width: 768px) {
    .align-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Assert banner */
    .banner, .bg-banner {
       height: 700px;
    }

    .banner-content h1, .lead, .btn-banner {
        text-align: center;
    }

    /*Assert council*/ 
    .conselhos-federais .content {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*Assert treatments*/
    .como-sao-tratamentos button {
        margin-top: 50px;
    }

    .perguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Assert video*/
    .video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .video iframe{
        margin: 5px;
    }

    /*Questions*/
    #perguntas .perguntas{
        border-radius: 10px;
        width: 650px;
    }

    #perguntas .align {
        display: flex;
        justify-content: center;
    }

    /*Assert rodape*/
     .rodape .conteudo{
         display: flex;
         justify-content: center;
         align-items: center;
     }
    
}

@media screen and (min-width: 1024px) {
    /*Assert menu*/
    .menu-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    }

    .menu-desktop .logo {
        display: block;
    }

    .opcoes a {
        padding-left: 0px !important;
        width: max-content;
    }

    .icone-menu, .icone-fechar-menu {
        display: none !important;
    }

    #items {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
    }

    #items a {
        font-size: 15px;
        float: right;
        padding: 5px;
    }

    /*Whoami*/
    #quemSouEu .conteudo {
        border-radius: 10px;
        width: 650px;
        padding: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 50px;
    }

    /*Assert reasons*/
    .motivos h3{
        font-size: 25px;
    }

    .motivos {
        font-size: 20px;
    }

    /*Assert treatments*/
    .perguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-situacao {
        font-size: 20px;
    }
    
    /*Assert how work*/

    /*Assert video*/
    .video {
        flex-wrap: nowrap;
    }
}
